li{
    list-style-type: none;
    padding:0 0.2em;
    display:inline;
    font-size:1.4em;

}
nav{
    text-align:center;
}
a:hover{
    background-color: floralwhite;

}

h1{
    text-align:center;
    font-size: 37px;
    color: #E5DDE9;
    margin:0 auto;
    padding-top:2em;
}
#img-container{
    text-align: center;
}
img{
    border-radius: 50%;
}
body{
    background:linear-gradient(#12151C,#C9C3B3,#12151C);
    color:#E5DDE9;
}
p{
    font-size:1.5em;
    text-align: center;
}
