h1{
    background-image: url("img/primo.jpg");
    background-position-x: +8%;
    background-position-y: +10%;
    text-align: left;
    font-size: 27px;
    color: white;
    border: solid 5px grey;
    border-radius: 50%;
    margin:0 auto;
    padding: 100px;
    width: 490px;
    height: 490px;
}

body {
    color: #C3DECA;
    background: linear-gradient(#C1D4D9, #819FA6, #465759, #2F4141,#222C24);
}

p {
    font-size: 20px;
    text-align: center;
}

li {
    list-style-type: none;
    padding: 0 8px;
    float: left;
}

#home {
    float: right;
}

a:link {
    color: #C3DECA;
}

a:visited {
    color: #C3DECA;
}